apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    k8s-addon: ingress-nginx.addons.k8s.io
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "fullname" . }}
      k8s-addon: ingress-nginx.addons.k8s.io
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}
        k8s-addon: ingress-nginx.addons.k8s.io
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        volumeMounts:
          - name: config
            mountPath: /etc/nginx/conf.d
          - name: errors
            mountPath: /usr/share/nginx/html
        ports:
        - name: http
          containerPort: {{ .Values.service.internalPort }}
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.service.internalPort }}
            scheme: HTTP
          initialDelaySeconds: 30
          timeoutSeconds: 5
        resources:
{{ toYaml .Values.resources | indent 12 }}
      volumes:
        - name: config
          configMap:
            name: "{{ template "fullname" . }}-config"
        - name: errors
          configMap:
{{- if eq .Values.errors.configmap "default" }}
            name: "{{ template "fullname" . }}"
{{- else }}
            name: {{ .Values.errors.configmap  | quote}}
{{- end -}}
