sudo: required

addons:
  apt:
    packages:
      - git
      - make
      - curl

install:
  - make init
  - make helm:install
  - make helm:add_dev_repo
  - make helm:add_repo

script:
  - make clean fix-perms lint package index

before_deploy:
  - |-
    rm -rf incubator/packages/Makefile &&
    rm -rf stable/packages/Makefile

deploy:
  # Deploy to dev (branch)
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: $DEV_BUCKET
    skip_cleanup: true
    upload-dir: $TRAVIS_BRANCH/incubator
    local-dir: incubator/packages
    on:
      all_branches: true

  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: $DEV_BUCKET
    skip_cleanup: true
    upload-dir: $TRAVIS_BRANCH/stable
    local-dir: stable/packages
    on:
      all_branches: true

  # Deploy to dev (tag)
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: $DEV_BUCKET
    skip_cleanup: true
    upload-dir: $TRAVIS_TAG/incubator
    local-dir: incubator/packages
    on:
      tags: true

  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: $DEV_BUCKET
    skip_cleanup: true
    upload-dir: $TRAVIS_TAG/stable
    local-dir: stable/packages
    on:
      tags: true

  # Deploy to master
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: $MAIN_BUCKET
    skip_cleanup: true
    upload-dir: incubator
    local-dir: incubator/packages
    on:
      branch: master

  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: $MAIN_BUCKET
    skip_cleanup: true
    upload-dir: stable
    local-dir: stable/packages
    on:
      branch: master
