sudo: required
addons:
  apt:
    packages:
    - git
    - make
    - curl


install:
- curl https://kubernetes-helm.storage.googleapis.com/helm-v2.1.3-linux-amd64.tar.gz | tar xvz
- chmod +x linux-amd64/helm
- sudo mv linux-amd64/helm /usr/bin
- helm init --client-only

script:
- make lint package index

before_deploy:

- |-
  rm -rf incubator/packages/Makefile &&
  rm -rf stable/packages/Makefile

deploy:
# Deploy to dev branch
  - provider: s3
    access_key_id: $AWS_KEY_ID
    secret_access_key: $AWS_ACCESS_KEY
    bucket: $DEV_BUCKET
    skip_cleanup: true
    upload-dir: $TRAVIS_BRANCH/incubator
    local-dir: incubator/packages
    on:
      all_branches: true

  - provider: s3
    access_key_id: $AWS_KEY_ID
    secret_access_key: $AWS_ACCESS_KEY
    bucket: $DEV_BUCKET
    skip_cleanup: true
    upload-dir: $TRAVIS_BRANCH/stable
    local-dir: stable/packages
    on:
      all_branches: true
# Deploy to dev tag
  - provider: s3
    access_key_id: $AWS_KEY_ID
    secret_access_key: $AWS_ACCESS_KEY
    bucket: $DEV_BUCKET
    skip_cleanup: true
    upload-dir: $TRAVIS_TAG/incubator
    local-dir: incubator/packages
    on:
      tags: true

  - provider: s3
    access_key_id: $AWS_KEY_ID
    secret_access_key: $AWS_ACCESS_KEY
    bucket: $DEV_BUCKET
    skip_cleanup: true
    upload-dir: $TRAVIS_TAG/stable
    local-dir: stable/packages
    on:
      tags: true
# Deploy to master
  - provider: s3
    access_key_id: $AWS_KEY_ID
    secret_access_key: $AWS_ACCESS_KEY
    bucket: $MAIN_BUCKET
    skip_cleanup: true
    upload-dir: incubator
    local-dir: incubator/packages
    on:
      branch: master

  - provider: s3
    access_key_id: $AWS_KEY_ID
    secret_access_key: $AWS_ACCESS_KEY
    bucket: $MAIN_BUCKET
    skip_cleanup: true
    upload-dir: stable
    local-dir: stable/packages
    on:
      branch: master