sudo: required

addons:
  apt:
    packages:
      - git
      - make
      - curl
env:
  global:
    - DOCKER_IMAGE_NAME=cloudposse/charts
services:
  - docker

install:
  - make init
  - git -C build-harnes checkout fix-path
  - sudo make helm/install
  - make helm/repo/add-remote
  - make helm/repo/add-current
  - make docker/login

script:
  - make helm/repo/build REPO_NAME=incubator
  - make helm/repo/build REPO_NAME=stable
  - make helm/repo/build REPO_NAME=demo
  - make helm/repo/index REPO_NAME=incubator
  - make helm/repo/index REPO_NAME=stable
  - make helm/repo/index REPO_NAME=demo
  - make docker/build

after_success:
  - make travis/docker-tag-and-push

deploy:
  # Deploy to dev (branch)
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: $DEV_BUCKET
    skip_cleanup: true
    upload-dir: $TRAVIS_BRANCH
    local-dir: packages
    on:
      all_branches: true

  # Deploy to dev (tag)
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: $DEV_BUCKET
    skip_cleanup: true
    upload-dir: $TRAVIS_TAG
    local-dir: packages
    on:
      tags: true

  # Deploy to master
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: $MAIN_BUCKET
    skip_cleanup: true
    local-dir: packages
    on:
      branch: master
