# Default values for nginx-default-backend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
maxUnavailable: 1
image:
  repository: nginx
  tag: alpine
  pullPolicy: IfNotPresent
service:
  name: nginx
  type: ClusterIP
  externalPort: 80
  internalPort: 8080
resources:
  limits:
    cpu: 10m
    memory: 20Mi
  requests:
    cpu: 10m
    memory: 20Mi
errors:
  configmap: default
  default:
    email: hello@cloudposse.com
    site: http://cloudposse.com
  client:
    - "404"
  server:
    - "500"
    - "502"
    - "503"
    - "504"