# Default values for kube-lego.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
debug: false
image:
  repository: jetstack/kube-lego
  tag: 0.1.5
  pullPolicy: IfNotPresent
lego:
  email: ""
  prod: false
pod:
  internalPort: 8080
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

