apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}
      annotations:
{{ toYaml .Values.annotations | indent 8 }}
    spec:
      volumes:
      - name: storage
        {{ if .Values.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ template "fullname" . }}
        {{ else }}
        emptyDir: {}
        {{ end }}
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
          - "thumbor"
        ports:
        - name: http
          containerPort: {{ .Values.service.internalPort }}
        env:
        - name: ENGINE
          value: "opencv_engine"
        - name: THUMBOR_PORT
          value: {{ .Values.service.internalPort | quote }}
        - name: REDIS_QUEUE_SERVER_HOST
          valueFrom:
            configMapKeyRef:
              name: {{ template "remotecv_fullname" . }}
              key: redis.host
        - name: REDIS_QUEUE_SERVER_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ template "remotecv_fullname" . }}
              key: redis.port
        - name: REDIS_QUEUE_SERVER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ template "redis_fullname" . }}
              key: redis-password
        - name: REDIS_QUEUE_SERVER_DB
          valueFrom:
            configMapKeyRef:
              name: {{ template "remotecv_fullname" . }}
              key: redis.database
        - name: REDIS_STORAGE_SERVER_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ template "remotecv_fullname" . }}
              key: redis.port
        - name: REDIS_STORAGE_SERVER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ template "redis_fullname" . }}
              key: redis-password
        - name: REDIS_STORAGE_SERVER_HOST
          valueFrom:
            configMapKeyRef:
              name: {{ template "remotecv_fullname" . }}
              key: redis.host
        - name: REDIS_STORAGE_SERVER_DB
          valueFrom:
            configMapKeyRef:
              name: {{ template "remotecv_fullname" . }}
              key: redis.database
{{- range $name, $value := .Values.env }}
{{- if not (empty $value) }}
        - name: {{ $name | quote }}
          value: {{ $value | quote }}
{{- end }}
{{- end }}
        volumeMounts:
        - name: storage
          mountPath: /app
          readOnly: false
        resources:
{{ toYaml .Values.resources | indent 12 }}
        livenessProbe:
{{ toYaml .Values.livenessProbe | indent 10 }}
        readinessProbe:
{{ toYaml .Values.readinessProbe | indent 10 }}
