# Default values for route53-kubernetes.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
ingress_service_selector: k8s-addon=ingress-nginx.addons.k8s.io,role=entrypoint
dns_record_type: CNAME
dns_record_ttl: 300

image:
  repository: cloudposse/route53-kubernetes
  tag: latest
  pullPolicy: Always
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
